// Custom common variables
@import '../../app-variables';

// Button
.button1 {
	margin: 20;
	display: block;
	height: 110px;
	width: 350px;
	background: #6acad4;
    border: 2px solid rgba(33, 68, 72, 0.59);
    horizontal-align: right;
}